.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-border {
    position: fixed;
    left: 0;
    top: 0;
    height: 15px;
    min-width: 100%;
    background: linear-gradient(48.76deg, #c21ff4 0%, #cf557a 52.08%, #fae429 100%);
    background-repeat: no-repeat;
    z-index: 3;
}

.modal-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    will-change: transform, opacity;
    z-index: 4;

    @media screen and (max-width: 480px) {
        padding: 15px;
        padding-top: 40px;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0 !important;
    }

    .container {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media screen and (max-width: 320px) {
        padding: 70px 5px 5px 5px;
    }
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    &:hover {
        color: #ccc;
    }
}

.modal-title {
    top: 20px;
}
