.profile {
    padding: 8rem 2rem;
    text-align: center;

    &-avatar {
        border-radius: 2rem;
    }

    &-details {
        padding: 2rem 0 1rem 0;

        p {
            margin-bottom: 1rem;
            font-size: 1.8rem;
        }
    }
}
